body,
html {
    height: 100%;
    margin: 0;
    background-image: radial-gradient(#99ccff, #ff99cc);
}

.introduction {
    display: flex;
    width: 100%;
    transition: box-shadow 2s ease;
    background: none;
}

.image {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 600px;
    min-width: 600px;
    height: 60%;
    border: 1px solid black;
    border-radius: 10px;

    background-image: radial-gradient(#99ccff, #ff99cc);

    transition: width 2s ease;
}

.image:hover {
    width: 100%;
}

.image img {
    border-radius: 50%;
}

.information {
    position: relative;
    opacity: 0;
    font: 400 200px/1.2 'Merienda One', Helvetica, sans-serif;
    width: 400px;
    font-size: 120%;
    height: 300px;
    padding: 10px;
    text-align: center;
    transition: opacity 1s ease-in-out;
}

.image:hover .information {
    opacity: 1;
    display: block;
}

.logo {
    text-align: center;
}

.logo img {
    text-align: center;
    width: 300px;
    height: 300px;
}

.icon i {
    font-size: 50px;
    position: absolute;
    top: 130px;
    right: 0;
}

.back {
    margin-top: 10px;
    text-align: center;
}

.back i {
    font-size: 50px;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 10px;
    transition: box-shadow 1s linear;
}

.back i:hover {
    box-shadow: 1px 5px 20px white;
}